.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.projects {

  padding-top: 20px;
  padding-bottom: 10px;
}
.col,
.col-6,
.col-5 {
padding-top: 60px;  
padding: 1rem;
background-color: blue;
border: 2px solid #fff;
color:black;
text-align: center;
}
.proj-head{

  padding-top: 60px;
  font-family: 'Times New Roman', Times, serif;
  color: cornflowerblue;
  
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.blog-h {

  padding-top:50px ;

}



.topnav a {
 
  display: block;
  text-align: center;
  padding: 6px 6px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}
.topnav .icon {
  display: none;
}

.App-link {
  color: #09d3ac;
}

.text-block {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: black;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}
.centered {
  position: absolute;
  top: 25%;
  left: 35%;
  color: white;
  transform: translate(-50%, -50%);
}

.span4 img {
  margin-right: 10px;
}
.heading {
  font-family: 'Times New Roman', Times, serif;
}
.heading-1 {
  font-family: 'Times New Roman', Times, serif;
  color: #09d3ac;
  padding-left: 700px;
}
.p {
  color: black;
  font-family: 'Times New Roman', Times, serif;
}
.img {
  margin-right:10px;
  border-radius: 15px;
  max-width: auto;
  height: auto;
  opacity: 0.5;
  filter: alpha(opacity=50); 

}


.example {
  margin: 1em 0;
  text-align: center;
}

.example {
  width: 30vw;
  height: 30vw;
}

.example-cover {
  object-fit: cover;
}
.wine-row {
  display: flex;
  flex-direction: row;
  padding-top: 100px;
  padding-bottom: 50px;
  padding-left: 90px;
  padding-right: 90px;

}

.wine-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
